<footer>
	<div class="container section">
		<div class="row">
			<h1 class="section-header">Sponsors</h1>
			<div class="sponsor-container">
				{{!-- <img class="sponsor-logo" src="img/logo-emerge.png" alt="" />
				<img class="sponsor-logo" src="img/logo-ironworks.png" alt="" />
				<img class="sponsor-logo" src="img/logo-lexington.png" alt="" />
				<img class="sponsor-logo" src="img/logo-iliff.png" alt="" />
				<img class="sponsor-logo" src="img/logo-jjs.png" alt="" /> --}}
				<img class="sponsor-logo" src="img/logos/logo-virtual-genius.svg" alt="" />
			</div>
			<p class="conf-contact">Follow us <a href="#">@ExploreDDD</a>    Contact us <a href="mailto:contact@exploreddd.com">contact@exploreddd.com</a></p>
			<p class="copyright">Copyright &copy; 2017 by Virtual Genius LLC</p>
		</div>
	</div>
</footer>