<div class="sponsor-section"></div>
<footer>
	<div class="container section">
		<div class="row">
			<h1 class="section-header">Organized By</h1>
			<div class="sponsor-container">
				<div class="item organized-by-item"><a href="https://www.virtualgenius.com/"><img class="benefactor-logo" src="../img/logos/logo-virtual-genius.svg" alt="Virtual Genius" /></a></div>
			</div>
			<p class="conf-contact">Follow us <a href="http://twitter.com/ExploreDDD">@ExploreDDD</a>    Contact us <a href="mailto:contact@exploreddd.com">contact@exploreddd.com</a></p>
			<p class="copyright">Copyright &copy; 2024 by Virtual Genius LLC</p>
		</div>
	</div>
</footer>