<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="" href="../"><h1 class="nav-logo">Explore DDD</h1></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav-list">
        <li class="nav-list-item submenu">
          <a href="../about/">About</a><span class="submenu-toggle"></span>
          <ul class="nav-submenu">
          <li class="submenu-item"><a href="../about/people.html">People</a></li>
          <li class="submenu-item"><a href="../about/location.html">Location</a></li>
          {{!-- <li class="submenu-item"><a href="about/eric-evans.html">Contact Us</a></li> --}}
          </ul>
        </li>
        <li class="nav-list-item submenu">
          <a href="../speakers/">Speakers</a><span class="submenu-toggle"></span>
          <ul class="nav-submenu">
              <li class="submenu-item"><a href="../speakers/eric-evans.html">Eric Evans</a></li>
              <li class="submenu-item"><a href="../speakers/rebecca-wirfs-brock.html">Rebecca Wirfs-Brock</a></li>
              <li class="submenu-item"><a href="../speakers/alberto-brandolini.html">Alberto Brandolini</a></li>
              <li class="submenu-item"><a href="../speakers/vaughn-vernon.html">Vaughn Vernon</a></li>
              <li class="submenu-item"><a href="../speakers/mathias-verraes.html">Mathias Verraes</a></li>
          </ul>
        </li>
        <li class="nav-list-item">
          <a href="../schedule/">Schedule</a>
        </li>
        <li class="nav-list-item">
          <a href="../workshops/">Workshops</a>
        </li>
        <li class="nav-list-item">
          <a href="../sponsorship/">Sponsorship</a>
        </li>
      </ul>
      <a class="nav-btn" href="https://virtualgenius.typeform.com/to/tZlftR">Stay Updated</a>
    </div><!--/.navbar-collapse -->
  </div>
</nav>