<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="" href="../"><h1 class="nav-logo">Explore DDD</h1></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav-list">
        <li class="nav-list-item submenu">
          <a href="../about/">About</a><span class="submenu-toggle"></span>
        </li>
        <li class="nav-list-item submenu">
          <a href="../speakers/">Speakers</a><span class="submenu-toggle"></span>
        </li>
        <li class="nav-list-item">
          <a href="../schedule/">Schedule</a>
        </li>
        <li class="nav-list-item">
          <a href="../workshops/">Workshops</a>
        </li>
        <li class="nav-list-item">
          <a href="../sponsors/">Sponsors</a>
        </li>
        <li class="nav-list-item">
            <a href="../venue/">Venue</a>
        </li>
      </ul>
      <a class="nav-btn" href=https://ti.to/explore-ddd-conference/2017>Buy Tickets</a>
    </div><!--/.navbar-collapse -->
  </div>
</nav>
