<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="" href="../"><h1 class="nav-logo">Explore DDD</h1></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav-list">
        <li class="nav-list-item submenu">
          <a href="../about/">About</a><span class="submenu-toggle"></span>
          <ul class="nav-submenu">
          <li class="submenu-item"><a href="../about/people.html">People</a></li>
          <li class="submenu-item"><a href="../about/location.html">Location</a></li>
          {{!-- <li class="submenu-item"><a href="about/eric-evans.html">Contact Us</a></li> --}}
          </ul>
        </li>
        <li class="nav-list-item submenu">
          <a href="../speakers/">Speakers</a><span class="submenu-toggle"></span>
          <ul class="nav-submenu">
              <li class="submenu-item"><a href="../speakers/eric-evans.html">Eric Evans</a></li>
              <li class="submenu-item"><a href="../speakers/rebecca-wirfs-brock.html">Rebecca Wirfs-Brock</a></li>
              <li class="submenu-item"><a href="../speakers/ward-cunningham.html">Ward Cunningham</a></li>
              <li class="submenu-item"><a href="../speakers/vaughn-vernon.html">Vaughn Vernon</a></li>
              <li class="submenu-item"><a href="../speakers/alberto-brandolini.html">Alberto Brandolini</a></li>
              <li class="submenu-item"><a href="../speakers/julie-lerman.html">Julie Lerman</a></li>
              <li class="submenu-item"><a href="../speakers/mathias-verraes.html">Mathias Verraes</a></li>
              <li class="submenu-item"><a href="../speakers/chris-richardson.html">Chris Richardson</a></li>
              <li class="submenu-item"><a href="../speakers/paul-rayner.html">Paul Rayner</a></li>
              <li class="submenu-item"><a href="../speakers/allard-buijze.html">Allard Buijze</a></li>
              <li class="submenu-item"><a href="../speakers/anita-kvamme.html">anita-kvamme</a></li>
              <li class="submenu-item"><a href="../speakers/bernd-rucker.html">Bernd Rücker</a></li>
              <li class="submenu-item"><a href="../speakers/dan-bergh-jonsson.html">Dan Bergh Jonsson</a></li>
              <li class="submenu-item"><a href="../speakers/dan-sharp.html">Dan Sharp</a></li>
              <li class="submenu-item"><a href="../speakers/daniel-deogun.html">Daniel Deogun</a></li>
              <li class="submenu-item"><a href="../speakers/david-gofferje.html">David Gofferje</a></li>
              <li class="submenu-item"><a href="../speakers/david-graunke.html">David Graunke</a></li>
              <li class="submenu-item"><a href="../speakers/david-laribee.html">David Laribee</a></li>
              <li class="submenu-item"><a href="../speakers/derek-comartin.html">Derek Comartin</a></li>
              <li class="submenu-item"><a href="../speakers/ellen-lippe.html">Ellen Lippe</a></li>
              <li class="submenu-item"><a href="../speakers/javier-fernandez.html">Javier Fernandez</a></li>
              <li class="submenu-item"><a href="../speakers/jeroen-soeters.html">Jeroen Soeters</a></li>
              <li class="submenu-item"><a href="../speakers/julie-lerman.html">Julie Lerman</a></li>
              <li class="submenu-item"><a href="../speakers/martin-schimak.html">Martin Schimak</a></li>
              <li class="submenu-item"><a href="../speakers/nicolo-pignatelli.html">Nicolo Pignatelli</a></li>
              <li class="submenu-item"><a href="../speakers/scott-bellware.html">Scott Bellware</a></li>
              <li class="submenu-item"><a href="../speakers/steven-lowe.html">Steven Lowe</a></li>
              <li class="submenu-item"><a href="../speakers/thomas-pierrain.html">Thomas Pierrain</a></li>
              <li class="submenu-item"><a href="../speakers/vladik-khononov.html">Vladik Khononov</a></li>
              <li class="submenu-item"><a href="../speakers/yves-reynhout.html">Yves Reynhout</a></li>
          </ul>
        </li>
        <li class="nav-list-item">
          <a href="../schedule/">Schedule</a>
        </li>
        <li class="nav-list-item">
          <a href="../workshops/">Workshops</a>
        </li>
        <li class="nav-list-item">
          <a href="../sponsors/">Sponsors</a>
        </li>
      </ul>
      <a class="nav-btn" href=https://ti.to/explore-ddd-conference/2017>Buy Tickets</a>
    </div><!--/.navbar-collapse -->
  </div>
</nav>
