
<div class="row">
  <div class="speaker-container">
    <img class="speaker-img" src="../img/eric-evans.png" alt="" />
    <h3 class="speaker-name">Eric Evans</h3>
    <p class="speaker-details">Author of “Domain-Driven Design”</p>
  </div>
  <div class="speaker-container">
    <img class="speaker-img" src="../img/nichole-rauch.png" alt="" />
    <h3 class="speaker-name">Nichole Rauch</h3>
    <p class="speaker-details">Software Developer and Development Coach</p>
  </div>
  <div class="speaker-container">
    <img class="speaker-img" src="../img/scott-wlaschin.png" alt="" />
    <h3 class="speaker-name">Scott Wlaschin</h3>
    <p class="speaker-details">Software Gardener</p>
  </div>
  <div class="speaker-container">
    <img class="speaker-img" src="../img/wirfsbrock.png" alt="" />
    <h3 class="speaker-name">Rebecca Wirfs-Brock</h3>
    <p class="speaker-details">Responsibility-Driven Design</p>
  </div>
  <div class="speaker-container">
    <img class="speaker-img" src="../img/udi-dahan.png" alt="" />
    <h3 class="speaker-name">Udi Dahan</h3>
    <p class="speaker-details">Founder of NServiceBus</p>
  </div>