
<div class="container section speakers">
  <h1 class="section-header">Speakers</h1>
  <div class="row">
    <div class="speaker-container">
      <a href="eric-evans.html"><div class="speaker-img eric-evans">
      </div></a>
      <h3><a class="speaker-name" href="eric-evans.html">Eric Evans</a></h3>
      <p class="speaker-details">Author of “Domain-Driven Design”</p>
    </div>
    <!--<div class="speaker-container">
      <a href="eric-evans.html"><div class="speaker-img eric-evans">
      </div></a>
      <h3><a class="speaker-name" href="eric-evans.html">Eric Evans</a></h3>
      <p class="speaker-details">Author of “Domain-Driven Design”</p>
    </div>-->
    <!--<div class="speaker-container">
      <a href="eric-evans.html"><div class="speaker-img eric-evans">
      </div></a>
      <h3><a class="speaker-name" href="eric-evans.html">Eric Evans</a></h3>
      <p class="speaker-details">Author of “Domain-Driven Design”</p>
    </div>-->
    <!--<div class="speaker-container">
      <a href="eric-evans.html"><div class="speaker-img eric-evans">
      </div></a>
      <h3><a class="speaker-name" href="eric-evans.html">Eric Evans</a></h3>
      <p class="speaker-details">Author of “Domain-Driven Design”</p>
    </div>-->
  </div>
</div>
