<div class="homepage--top-bar">
    <ul>
        <li>September 14-18, 2020</li>
        <li>Keystone Resort | Keystone, CO</li>
        <li class="youtube">
            <a href="https://www.youtube.com/exploreddd" title="Explore DDD YouTube Channel"><img src="img/youtube-white.png"></a>
        </li>
        <li class="linkedin">
            <a href="https://www.linkedin.com/company/exploreddd/" title="Explore DDD LinkedIn"><img src="img/linkedin.svg"></a>
        </li>
        <li class="twitter">
            <a href="https://twitter.com/ExploreDDD" title="Explore DDD Twitter"><img src="img/twitter.svg"></a>
        </li>
        <li class="hashtag">
            <a href="https://twitter.com/hashtag/EDDD">#EDDD</a>
        </li>
    </ul>
</div>
<div class="container covid-notice-container">
    <div class="row">
            <div class="alert alert-success alert-dismissible alert-covid-notice fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <h3>The Explore DDD 2020 conference is proceeding as planned.</h3>
                <p>We are continuing to actively monitor the situation with the COVID-19 pandemic.  Protecting the safety and well-being of our attendees, speakers, sponsors, volunteers and staff is our number one priority and we will let you know immediately should anything change.</p>
            </div>
    </div>
</div>