//variables

$body-size: 18px;
$standard-margin: 30px;
$half-margin: 15px;

$brand-blue: #0082c8;
$brand-white: #fff;
$brand-body: #000000;

$brand-body-link: #f0b310;
$brand-body-link-hover: #ffc423;

$brand-reverse-link: #ffc423;
$brand-reverse-link-hover: #f0b310;

$brand-button-link: #fff;
$brand-button-link-hover: #ffc423;
//sort out these different button color names/conventions
$brand-nav-button-text: #0082c8;
$brand-nav-button-text-hover: #2e9bd3;
$brand-nav-button-background: #ace0f0;
$brand-nav-button-background-hover: #9bd7ec;

$brand-subheader: #ffc423;

$brand-nav-hover: #ffc423;
$brand-background: #e5f2f9;

@font-face {
	font-family: 'NunitoSansSemiBold';
	src: url('fonts/NunitoSans-SemiBold.eot');
	src: url('fonts/NunitoSans-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('fonts/NunitoSans-SemiBold.woff2') format('woff2'),
		url('fonts/NunitoSans-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'NunitoSansLight';
	src: url('fonts/NunitoSans-Light.eot');
	src: url('fonts/NunitoSans-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/NunitoSans-Light.woff2') format('woff2'),
		url('fonts/NunitoSans-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'NunitoSansExtraBold';
	src: url('fonts/NunitoSans-ExtraBold.eot');
	src: url('fonts/NunitoSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('fonts/NunitoSans-ExtraBold.woff2') format('woff2'),
		url('fonts/NunitoSans-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'NunitoSans';
	src: url('fonts/NunitoSans-Regular.eot');
	src: url('fonts/NunitoSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/NunitoSans-Regular.woff2') format('woff2'),
		url('fonts/NunitoSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'NunitoSansBold';
	src: url('fonts/NunitoSans-Bold.eot');
	src: url('fonts/NunitoSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/NunitoSans-Bold.woff2') format('woff2'),
		url('fonts/NunitoSans-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

h1 {
	font-family: NunitoSansBold, sans-serif;
	color: $brand-blue;
	font-size: 24px;
	text-transform: uppercase;
  margin-top: $standard-margin;
}
h2 {
	font-family: NunitoSansBold, sans-serif;
	color: $brand-blue;
	font-size: 18px;
	text-transform: uppercase;
	//margin-top: $standard-margin;
	margin-top: 0;
	margin-bottom: $standard-margin;
}
h3 {
	font-family: NunitoSansBold, sans-serif;
	color: $brand-body;
	font-size: $body-size;
	margin-top: $standard-margin;
}
strong {
	font-family: NunitoSansBold, sans-serif;
}

@mixin mq($size) {
  @if $size == xs {
    @media (max-width: 767px) { @content; }
  }
  @if $size == sm {
    @media (min-width: 768px) { @content; }
  }
  @else if $size == md {
    @media (min-width: 992px) { @content; }
  }
  @else if $size == lg {
    @media (min-width: 1200px)  { @content; }
  }
}

@mixin ir() {
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 100%;
	text-indent: -9999px;
}

// General

html, body {
	width: 100%;
}

body {
	background-color: $brand-white;
	font-family: NunitoSansLight, sans-serif;
	font-size: $body-size;
	line-height: 1.22em;
	color: $brand-body;
	overflow-x: hidden;
	padding-top: 51px;
	padding-bottom: 0;
	@include mq(sm){
		padding-top: 60px;
	}
	@include mq(md){
		padding-top: 75px;
	}
	@include mq(lg){
		padding-top: 100px;
	}
	a {
		color: $brand-body-link;
		text-decoration: none;
		&:hover {
			color: $brand-body-link-hover;
			text-decoration: none;
		}
	}
}

p, ul, ol, blockquote, h1, h2, h3, .video-responsive {
	margin-bottom: $standard-margin;
}

ul {
	li {
		margin-bottom: 10px;
	}
	li:last-child {
		margin-bottom: 0;
	}
}

// Navigation

nav {
	border: 0;
}
s
.navbar {
	@include mq(lg) {
		.container {
			width: 955px;
		}
	}
}
.navbar-toggle {
	cursor: pointer;
	float: left;
}

.icon-bar {
	background-color: $brand-blue;
}

.nav-logo {
	background-image: url('../img/ddd-logo.svg');
	margin: 3px auto;
	height: 46px;
	width: 160px;
	@include ir();
	@include mq(sm) {
		height: 37px;
		margin: 8px 0 0 0;
		width: 144px;
	}
	@include mq(md) {
		height: 46px;
		margin: 13px 0 0 0;
		width: 180px;
	}
	@include mq(lg) {
		height: 62px;
		margin: 19px 0 0 0;
		width: 230px;
	}
}

.nav-list {
	display: block;
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	@include mq(sm) {
		display: inline-block;
	}
	@include mq(md) {
		padding-left: 78px;
	}
	@include mq(lg) {
		padding-left: 25px;
	}
}

.nav-list-item {
	line-height: 30px;
	position: relative;
	text-align: left;
	transition: color 0.2s;
	@include mq(xs) {
		font-size: 14px;
	}
	@include mq(sm) {
		display: inline-block;
		font-size: 14px;
		line-height: 60px;
		text-align: center;
	}
	@include mq(md) {
		font-size: $body-size;
		line-height: 75px;
	}
	@include mq(lg) {
		line-height: 100px;
	}

	a {
		color: $brand-blue; //not working
		cursor: pointer;
		text-decoration: none;

		&:hover {
			color: $brand-nav-hover;
		}
	}
}

.nav-list-item:not(:first-child) {
	@include mq(sm){
		padding-left: 12px;
	}
}


.nav-btn {
	background: $brand-nav-button-background;
	color: $brand-nav-button-text;
	display: block;
	line-height: 30px;
	padding: 0 10px;
	text-align: center;
	text-transform: uppercase;
	transition: background 0.2s;
	@include mq(xs) {
		margin-top: $half-margin;
		font-size: 14px;
	}
	@include mq(sm) {
		display: inline-block;
		font-size: 14px;
		line-height: 60px;
		margin-left: 20px;
		float: right;
	}
	@include mq(md) {
		font-size: $body-size;
		line-height: 75px;
	}
	@include mq(lg) {
		line-height: 100px;
	}

	&:hover {
		background: $brand-nav-button-background-hover;
		color: $brand-nav-button-text-hover;
		text-decoration: none;
	}
}

.navbar {
	background: $brand-white;
	font-family: NunitoSansSemiBold, sans-serif;
	a {
		color: $brand-blue;
	}
	@include mq(sm){
		max-height: 60px;
	}
	@include mq(md){
		max-height: 75px;
	}
	@include mq(lg){
		max-height: 100px;
	}
}

.navbar-collapse {
	text-align: center;
	padding-bottom: $half-margin;
	@include mq(sm) {
		background: transparent;
		text-align: center;
	}
}

/* begin submenu stuff */

/*.nav-submenu {
	background-color: #fff8e9;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.29);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.29);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.29);
	color: $brand-body;
	display: block;
	list-style-type: none;
	margin: 0 -15px;
	max-height: 0;
	overflow: hidden;
	padding: 0 0 0 10px;
	text-align: left;
	transition: all 0.2s;
	@include mq(sm) {
		left: -5px;
		position: absolute;
		top: 50px;
		white-space: nowrap;
	}
  @include mq(md) {
		position: absolute;
		top: 60px;
		white-space: nowrap;
	}
  @include mq(lg) {
		position: absolute;
		top: 75px;
		white-space: nowrap;
	}
	a {
		color: $brand-blue;
	}
}*/
.nav-list {
	@include mq(xs) {
		margin-top: $half-margin;
	}
	@include mq(sm) {
		margin-top: 0;
	}
	@include mq(md) {
		margin-left: -78px;
	}

}
.nav-list-item:not(:first-child) {
  .nav-submenu {
    @include mq(sm) {
      left: 10px;
    }
  }
}

/* .nav-list-item.open {
	.nav-submenu {
		max-height: 300px;
		padding: 10px 20px 10px 20px;
	}
	.submenu-toggle {
		opacity: 1;
		transform: rotate(90deg);
	}
} */

/*.submenu-item {
	@include mq(sm) {
		line-height: 30px;
	}
}*/

.section {
	.row {
		margin: 0 auto;
		max-width: 960px;
	}

	&.speakers {
		text-align: center;
	}
}

.speakers {
	text-align: center;
}

.hyatt-copy, .register-copy, .alteryx-copy {
	display: inline-block;
	margin-top: 85px;
	padding: $standard-margin;
  @include mq(sm) {
    margin-left: 60px;
  }
  @include mq(md) {
    margin-left: 100px;
	}
	h1 {
		color: $brand-white;
		font-family: NunitoSansExtraBold, sans-serif;
		font-size: 30px;
		margin: 0;
		text-transform: uppercase;
		@include mq(sm){
			font-size: 40px;
		}
	}
	p {
		color: $brand-white;
		font-family: NunitoSansExtraBold, sans-serif;
		font-size: 16px;
		line-height: 1em;
		margin: 0;
		max-width: 320px;
		@include mq(sm){
			font-size: 30px;
		}
	}
}

.hyatt-copy, .register-copy, .alteryx-copy {
	background-color: rgba(0,164,228, 0.75);
}
.alteryx-copy {
	@include mq(sm) {
		width: 500px;
	}
	h1 {
		a {
			font-size: 40px;
			color: #0082CD;
		}
	}
}

.custom-navigation-container {
	display: none;
	@include mq(sm){
		bottom: 0;
		display: block;
		line-height: 400px;
		position: absolute;
		width: 100%;
	}
}

.custom-navigation {
	display: block;
	height: 400px;
	margin: 0 auto;
	max-width: 1300px;
	@include mq(sm){

	}
	.arrow {
		display: inline-block;
		opacity: 0.4;
		position: relative;
		transition: all 0.2s;
		vertical-align: middle;
		z-index: 10;
		img {
			height: 75px;
			width: 75px;
			@include mq(md){
				height: 150px;
				width: 150px;
			}
		}
		&.left {
			float: left;
		}
		&.right {
			float: right;
		}
		&:hover {
			opacity: 1;
		}
	}
}

/* .section-subheader {
	color: $brand-subheader;
	font-family: NunitoSansBold, sans-serif;
	text-align: center;
	text-transform: uppercase;
	transition: color 0.2s;
	&:hover {
		color: $brand-reverse-link;
	}
} */

.copy, blockquote {
	display: block;
	margin: 0 auto 23px;
	max-width: 700px;
	text-align: center;
}
figcaption a {
	font-family: 'NunitoSansSemiBold' !important;
}
.copy-list {
	display: block;
	margin: 0 auto 23px;
  padding-left: 25px;
	max-width: 700px;
	text-align: left;
	li {
		margin-bottom: 10px;
		ul {
			margin-top: 10px;
		}
	}
}

/* sponsor page content formatting */
figure {
	text-align: center;
	margin-bottom: $standard-margin;
	figcaption {
		margin: 0 auto 0px;
		text-align: left;
	}
}

.homepage--hero-video-container {
	position: relative;
	height: 600px;
	overflow: hidden;
	padding-left: 0;
	padding-right: 0;
	background-image: url('../video/video-poster.jpg');
	background-size: cover;
	@include mq(xs){
		background-position-x: 80%; //get background video poster/loading/mobile background more centrall
	}
	.video-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 100%);
		z-index: 1;
		@include mq(xs){
			display: none;
		}
	}
	.video-item {
		width: 100%;
		height: auto;
		z-index: 0;
		@include mq(xs){
			display: none;
		}
	}
	@media only screen and (max-width: 1068px) {
		.video-item {
			width: auto;
			height: 100%;
		}
	}
	.homepage--hero-content {
		position: absolute;
		bottom: -15px;
		width: 100%;
		z-index: 4;
		.homepage--hero-video-buttons {
			text-align: center;
			width: 100%;
			.btn {
				display: inline-block;
				background-color: $brand-nav-button-background;
				font-family: NunitoSansSemiBold, sans-serif !important;
				border-radius: 0;
				color: $brand-nav-button-text;
				font-size: 15px;
				padding: 10px 15px 10px 15px;
				text-decoration: none;
				text-transform: uppercase;
				border: 0;
				margin: 0 7px 15px 7px;
				&:hover {
					background-color: $brand-nav-button-background-hover;
					color: $brand-nav-button-text-hover;
				}
			}
		}
		.conf-dates {
			width: 100%;
			background-color: transparentize($brand-blue, 0.5);
			font-family: NunitoSans, sans-serif;
			padding-top: 24px;
			text-align: center;
			z-index: 2;
			@include mq(xs) {
				background-color: transparentize($brand-blue, 0.3);
			}
		}

		.conf-header {
			color: $brand-subheader;
			display: block;
			margin-bottom: 12px;
			padding-right: 15px;
			text-transform: uppercase;
			@include mq(sm){
				display: inline;
			}
		}
		.conf-copy {
			color: $brand-white;
			font-size: 24px;
			margin-bottom: 15px;
			&:last-child {
				padding-bottom: 25px;
			}
		}

		.conf-contact {
			@extend .conf-copy;
			padding: 13px 0 15px;

			a {
				color: $brand-reverse-link;
				&:hover {
					color: $brand-reverse-link-hover;
					text-decoration: none;
				}
			}
		}
	}
}

.homepage--why-you-should-attend {
	max-width: 700px;
	margin: 0 $half-margin;
	@include mq(sm) {
		margin: 0 auto;
	}
}

// Speaker section

.section.speakers {
	h2 {
		font-size: 24px; //this may be best served as a reference to a font-size variable since its the same size as an h1
		@include mq(xs) {
			margin-bottom: $half-margin;
		}
	}

	.row {
		&:first-child {
      margin-top: 32px;
    }
    &:last-child {
      margin-bottom: 15px;
    }
    @include mq(xs) {

    }
		@include mq(sm) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			text-align: center;
		}
		@include mq(md) {
			flex-wrap: nowrap;
		}
	}
}

.speaker-container {
	display: block;
	@include mq(sm) {
		display: inline-block;
		max-width: 150px;
	}
	h3 {
		margin-bottom: 10px;
	}
	.speaker-name {
		color: $brand-blue;
		font-family: NunitoSansBold, sans-serif;
		font-size: 20px;
		margin-bottom: 0;
		text-transform: uppercase;
		transition: color 0.2s;
		&:hover {
			color: $brand-body-link-hover;
			text-decoration: none;
		}
	}
}
//sprite rules for workshops hosted by two speakers.
.co-workshop-img {
	background-size: 315px;
	background-position: -160px;
	height: 150px;
	width: 150px;
	margin: 0 auto;
	&.bruno-and-thomas {
		background-image: url('../img/speakers/sprite-bruno-and-thomas.png');
		background-position: -160px; //keep it coloured even when not during hover state
		&:hover {
			cursor: pointer;
			cursor: hand;
			background-position: 1px;
		}
	}
	&.no-hover {
		background-position: 1px; //stop hover since link was removed for co-workshop page
	}
}
//sprites for individual speaker images
.speaker-img {
  background-size:312px;
  background-position: -156px;
	height: 150px;
	margin: 0 auto;
	width: 150px;
	border-radius: 120px;
  @include mq(xs) {
    margin-top: 15px;
	}
	&:hover {
		cursor: pointer;
		cursor: hand;
	}
	&.eric-evans {
		background-image: url('../img/speakers/sprite-eric-evans.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.paul-rayner {
		background-image: url('../img/speakers/sprite-paul-rayner.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.alberto-brandolini {
		background-image: url('../img/speakers/sprite-alberto-brandolini.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.mathias-verraes {
		background-image: url('../img/speakers/sprite-mathias-verraes.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.anita-kvamme {
		background-image: url('../img/speakers/sprite-anita-kvamme.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.bruno-boucard {
		background-image: url('../img/speakers/sprite-bruno-boucard.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.thomas-pierrain {
		background-image: url('../img/speakers/sprite-thomas-pierrain.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.daniel-somerfield {
		background-image: url('../img/speakers/sprite-daniel-somerfield.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.dave-buchanan {
		background-image: url('../img/speakers/sprite-dave-buchanan.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.dave-rael {
		background-image: url('../img/speakers/sprite-dave-rael.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.derek-comartin {
		background-image: url('../img/speakers/sprite-derek-comartin.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.dion-stewart {
		background-image: url('../img/speakers/sprite-dion-stewart.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.emily-stamey {
		background-image: url('../img/speakers/sprite-emily-stamey.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.gien-verschatse {
		background-image: url('../img/speakers/sprite-gien-verschatse.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.nick-tune {
		background-image: url('../img/speakers/sprite-nick-tune.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.gomti-mehta {
		background-image: url('../img/speakers/sprite-gomti-mehta.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.indu-alagarsamy {
		background-image: url('../img/speakers/sprite-indu-alagarsamy.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.janelle-klein {
		background-image: url('../img/speakers/sprite-janelle-klein.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.jean-françois-cloutier {
		background-image: url('../img/speakers/sprite-jean-françois-cloutier.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.jérémie-chassaing {
		background-image: url('../img/speakers/sprite-jérémie-chassaing.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.josh-maletz {
		background-image: url('../img/speakers/sprite-josh-maletz.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.kacper-gunia {
		background-image: url('../img/speakers/sprite-kacper-gunia.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.marijn-huizendveld {
		background-image: url('../img/speakers/sprite-marijn-huizendveld.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.matt-stine {
		background-image: url('../img/speakers/sprite-matt-stine.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.mauro-servienti {
		background-image: url('../img/speakers/sprite-mauro-servienti.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.michel-grootjans {
		background-image: url('../img/speakers/sprite-michel-grootjans.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.thomas-coopman {
		background-image: url('../img/speakers/sprite-thomas-coopman.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.sandi-metz {
		background-image: url('../img/speakers/sprite-sandi-metz.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.nataliya-remez {
		background-image: url('../img/speakers/sprite-nataliya-remez.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.sara-pellegrini {
		background-image: url('../img/speakers/sprite-sara-pellegrini.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.scott-millett {
		background-image: url('../img/speakers/sprite-scott-millett.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.scott-wlaschin {
		background-image: url('../img/speakers/sprite-scott-wlaschin.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.shaun-anderson {
		background-image: url('../img/speakers/sprite-shaun-anderson.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.szymon-pobiega {
		background-image: url('../img/speakers/sprite-szymon-pobiega.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.wei-wang {
		background-image: url('../img/speakers/sprite-wei-wang.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.zsófia-herendi {
		background-image: url('../img/speakers/sprite-zsófia-herendi.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.adam-tornhill {
		background-image: url('../img/speakers/sprite-adam-tornhill.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.paul-rayner {
		background-image: url('../img/speakers/sprite-paul-rayner.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.james-brayton {
		background-image: url('../img/speakers/sprite-james-brayton.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.keep-color {
		background-position: 0; //stop hover since link was removed for co-workshop page
	}
}

//workshop images

.speaker--workshop-content-img {
	width: 100%;
	height: auto;
	margin-bottom: $standard-margin;
}

.speaker-details {
	color: $brand-body;
	font-size: 16px;
}

.container.page {
	margin: 0 auto;
	max-width: 600px;
	padding-bottom: 3em;

	.copy {
		text-align: left;
	}
	.copy-top-padding {
		margin-top: 25px !important;
	}
}

h2.conference-emphasis {
  text-transform: uppercase;
  font-style: italic;
  text-align: left;
  font-size: 20px;
  font-family: NunitoSansBold,sans-serif;
}

// Location section

.location-col {
	padding-bottom: 20px;
}
.location-img {
	display: block;
	margin: 0 auto 15px;
	max-width: 100%;
}

.read-more {
	background-image: url('../img/read-more-arrow.png');
	background-position: center 2px !important;
	background-repeat: no-repeat;
	background-size: 100%;
	display: inline-block;
	margin-bottom: -2px;
	margin-left: 8px;
	opacity: 0.6;
	transition: all 0.2s;
	width: 18px;
	@include ir();
	&:hover {
		opacity: 1;
	}
}

footer {
	background-color: $brand-blue;
	color: $brand-white;
	font-family: NunitoSans, sans-serif;
	padding-top:0;
	padding-bottom: $standard-margin;
	text-align: center;
	.container {
		background-repeat: no-repeat;
		background-position: bottom center;
		background-size: contain;
	}

	.section-header {
		display: block;
		color: $brand-white;
		font-family: NunitoSansBold, sans-serif;
		font-size: 18px;
		text-transform: uppercase;
		margin-bottom: $half-margin;
	}

	.copyright, .conf-contact {
		font-size: 14px;
		margin-bottom: 10px;
		a {
			color: $brand-reverse-link;
			&:hover {
				color: $brand-reverse-link-hover;
			}
		}
	}
}

.sponsor-container {
	display: -webkit-flex; /* Safari */
	-webkit-justify-content: space-around; // Safari 6.1+
	display: flex;
	justify-content: space-around; //for chrome, firefox, etc
	align-items: center;
	.item, .organized-by-item {
		width: 300px;
		img {
			width: 95%;
			height: auto;
			margin-bottom: $half-margin;
		}
	}
	//platinum sponsor logo appears largest
	.platinum-logo {
		max-width: 300px;
	}
	//bronze sponsor logos appear smaller
	.bronze-logo {
		max-width: 160px;
	}
	.organized-by-item {
		width: 300px;
	}
}
.sponsor-logo {
	width: 50%;
	height: auto;
	display: block;
	margin: 0 auto $standard-margin auto;
}
.sponsor-logo-platinum {
	width: 100%;
}

.page-subheader {
	color: $brand-body;
	font-family: NunitoSansBold, sans-serif;
	margin: 0 0 4px 0;
}

.featured-speaker.container {
	.img-container {
		display: block;
		text-align: center;
		@include mq(sm) {
			display: inline-block;
		}

		img {
			vertical-align: top;
		}
	}
	.copy-container {
		display: block;
		max-width: 640px;
		@include mq(sm) {
			display: inline-block;
      padding-left: 75px;
		}
    @include mq(md) {
      padding-left: 45px;
    }
	}
	.copy {
		text-align: left;
	}
	.speaker-subheader {
		color: $brand-blue;
		text-align: left;
		text-transform: none;
	}
	.speaker-keynote {
		text-align: left;
		text-transform: uppercase;
		font-size: 25px;
	}
}

//homepage video before featured speakers
.video-responsive {
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:0;
}

.video-responsive iframe {
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}

.featured-speaker {
	.copy-container {
      padding-top: 25px;
      @include mq(sm){
    		display: inline;
        padding-top: 95px;
    	}
      @include mq(md){

      }
	}
	.img-container {
		padding-left: 17px;
	    padding-top: 41px;
	}
	.copy {
		max-width: none;
	}
}

.speaker-page-img {
	height: 150px;
	width: 150px;
}

.speaker-header {
	margin: 0 0 2px 0;
}
.speaker-subtitle {
	margin: 0 0 2px 0;
	text-align: left;
}
.speaker-handle {
	font-family: NunitoSans, sans-serif;
	margin: 0;
	text-align: left;
}
.speaker-subheader {
	font-family: NunitoSansBold, sans-serif;
	color: $brand-blue;
	margin: 25px 0 25px 0;
}

// Location page
.location.hero {
	background-image: url('../img/hyatt-panorama.jpg');
	background-size: cover;
	background-position: bottom center;
	height: 400px;
}

//Sponsors
.container.sponsors {
	padding-top: 50px;
}

.container.short {
	padding-top: 25px;
	padding-bottom: 150px;
}

//People
.container.people {
	padding-top: 50px;
	padding-bottom: 150px;
}

//Venue

//Workshops

.workshops-index-page, .workshop-single-page {
	.duration {
		display: block;
		color: $brand-blue;
		font-weight: 500;
		text-transform: uppercase;
		//margin-bottom: 8px;
		@include mq(xs) {
			text-align: center;
			padding-bottom: 0;
		}
	}
	.speaker-name {
		display: block;
		color: $brand-body;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 7px;
		@include mq(xs) {
			text-align: center;
		}
	}
}

.workshops-index-page {
	.workshops-index-page--item {
		max-width: 640px;
		@include mq(xs) {
			text-align: center;
			padding-bottom: 0;
		}
		@include mq(sm) {
			padding-top: 20px;
			padding-left: 65px;
		}
		@include mq(md) {
			padding-left: 35px;
		}
		p {
			margin-bottom: $half-margin;
		}
		h1 {
			@include mq(xs) {
				text-align: center;
				margin-top: 20px !important;
			}
			text-align: left;
		}
		h2 {
			text-transform: uppercase;
			font-family: NunitoSansSemiBold, sans-serif;
			margin-bottom: 10px;
			@include mq(xs) {
				margin-top: $standard-margin;
			}
			@include mq(sm) {
				margin-top: $half-margin;
			}
			a {
				color: #f0b310;
				transition: color 0.2s ease 0s;
				&:hover {
					text-decoration: none;
					color: #fdc33c;
				}
			}
		}
	}
}

//Workshop page (individual)
.workshop-single-page {
	margin-top: $standard-margin;
	.content {
		@include mq(sm){
			margin-left: 45px;
		}
		@include mq(md){
			margin-left: 20px;
		}
		h1 {
			margin-bottom: 10px;
			@include mq(xs){
				text-align: center;
			}
			@include mq(sm){
				text-align: left;
			}
		}
	}
}

//Schedule page
.schedule {
	width: 100%;
	.row {
		margin: 0 auto;
		max-width: 960px;
	}
}
.final-row {
  margin-bottom: $standard-margin;
}
.title-row {
  .title-cell-uncolored-cells {
    @include mq(sm) {
      padding-left: 0px;
    }
    @include mq(md) {
      padding-left: 0px;
    }
  }
  .title-cell-colored-cells {
    @include mq(sm) {
      padding-left: 10px;
    }
    @include mq(md) {
      padding-left: 5px;
    }
  }
  h2 {
    font-size: 28px;
		font-family: NunitoSansBold, sans-serif;
		color: #000;
    text-transform: uppercase;
    margin-bottom: 0;
    @include mq(xs) {
      text-align: center;
      margin-bottom: 20px;
    }
  }
  h3 {
		font-size: 24px;
    margin-top: 0;
    @include mq(xs) {
      text-align: center;
    }
  }
}

.time-cell {
	text-align: left;
	padding-top: 12px;
  font-size: 16px;
	font-family: NunitoSans, sans-serif;
  @include mq(xs) {
		text-align: center;
		margin-top: 10px;
	}
}

.details {
  p {
    em {
      font-size: 16px;
    }
  }
  a {
    color: #c49524;
    &:hover {
      color: #fdc33c;
      text-decoration: none;
    }
  }
  @include mq(xs) {
		text-align: center;
		margin-bottom: 0;
	}
	@include mq(sm) {
		padding: 10px 13px 10px 13px;
	}
}

.details-colored {
  color: #fff9ec;
  padding: 5px 13px 5px 13px;
  h4 {
    font-family: NunitoSansBold, sans-serif;
  }
  h5 {
    font-family: NunitoSansSemiBold, sans-serif;
  }
  a {
    color: #fff9ec;
  }
}
//for those rare occaisons wherein the same coloured details boxes are stacked directly on top of one another
.details-color-collision-gap {
	@include mq(sm) {
		margin-bottom: 1px;
	}
}

.details-gold {
  background-color: #e6a62d;
}
.details-green {
  background-color: #2ea165;
}
.details-purple {
  background-color: #682c89;
}
.details-blue {
  background-color: #008da7;
}
.talk-title {
	margin-bottom: $half-margin;
	a {
		font-family: NunitoSansSemiBold, sans-serif;
	}
  em {
    font-size: 16px;
  }
}
.details-wide, .details-two-thirds {
	@include mq(xs) {
		p {
			margin-bottom: -10px;
		}
	}
	@include mq(sm) {
		p {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			margin-bottom: 0;
		}
	}
}
@include mq(xs) {

}
@include mq(sm) {
    .time-cell {
      width: 10%;
    }
    .details {
			width: 29.25%;
		}
		.details-two-thirds {
			width: 58.5%;
		}
		.details-wide {
			width: 87.75%;
		}
}
@include mq(md) {
	.time-cell {
		width: 15.6%;
	}
	.details {
		width: 28%;
	}
	.details-wide {
		width: 84%;
	}
	.details-two-thirds {
		width: 56%;
	}
}
//styles that apply to structure/content for long form or "double length" talks/sessions
@include mq(xs) {
	.double-session-shim {
		display: none;
	}
}
@include mq(sm) {
	.long-session-part-2-copy {
		display: none;
	}
}


.top-border {
	@include mq(sm) {
		border-top: 1px solid black;
	}
}
.bottom-border {
	@include mq(sm) {
		border-bottom: 1px solid black;
	}
}

//full height columns
//only apply to non mobile viewports since this flex fix will break responsiveness below 768
@include mq(sm) {
  .time-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
  }
  .time-row > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }
  //this repeats but I'll clean this up later
  .title-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
  }
  .title-row > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }
}

// CFP
.cfp-cta {
  font-family: NunitoSansExtraBold, sans-serif;
  margin: 0 0 4px 0;
  	a {
  		color: #fdc33c;
  	}
}

//some button styles
.btn {
  background: $brand-blue;
  font-family: NunitoSansSemiBold, sans-serif !important;
  border-radius: 0;
  color: $brand-white;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
	border: 0;
	padding: 20px 15px 20px 15px;
  margin-bottom: $standard-margin;
}

.btn:hover {
  text-decoration: none;
  color: #fdc33c;
}
.buttons {
  text-align: center;
  .schedule-btn {
    margin-left: 10px;
    margin-right: 10px;
    padding: 8px 10px 8px 10px;
    min-width: 180px;
    span {
      display: block;
    }
    .btn-title {
      color: #fdc33c;
			font-family: NunitoSansBold, sans-serif;
			font-size: 18px;
    }
    .btn-date {
      font-size: 16px;
      font-family: NunitoSansSemiBold, sans-serif;
      text-transform: none;
      color: #ffebc1;
    }
  }
}

/* mailchimp embedded signup form styling */
.footer--newsletter-signup {
  text-align: center;
  margin: 0 auto;
  max-width: 960px;
  margin-bottom: 40px;
  .header {
		display: block;
    font-size: 24px;
    font-family: NunitoSansBold, sans-serif;
    color: $brand-body;
    margin-top: 0;
    margin-bottom: $standard-margin;
	}

  //these two classes apparently do something in the mailchimp code snippet, but lets make them work with our layout
  .mc-field-group, .clear {
    @include mq(xs) {
      display: block;
    }
    @include mq(sm) {
      display: inline-block;
    }
  }
  input[type=email] {
	 background-color: $brand-background;
   border: 1px solid $brand-body;
   padding: 15px;
   margin-right: 10px;
   @include mq(xs) {
     width: 80%;
     margin-bottom: $standard-margin;
   }
   @include mq(sm) {
     width: 350px;
   }
   @include mq(md) {
     width: 470px;
   }
  }
  input[type=submit] {
    color: $brand-white;
    font-family: NunitoSansSemiBold, sans-serif;
    background-color: $brand-blue;
    border: 0;
    padding: 15px;
    &:hover {
      color: $brand-button-link-hover;
    }
	}
  #mce-error-response, #mce-success-response {
    margin-top: $standard-margin;
    margin-bottom: $standard-margin;
  }
}
.section.home-videos {
	margin-top: 18px;
}
.home-videos {
	.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
		height:0;
		margin-bottom: 35px !important;
	}
	.video-responsive iframe{
		left:0;
		top:0;
		height:100%;
		width:100%;
		position:absolute;
	}
}

.homepage-video {
	max-width: 750px;
	margin: $standard-margin auto 0 auto;
}

/* sponsor subfooter section on homepage and second level pages */
.sponsor-section {
	background-color: #fff;
	padding: $half-margin 0 $standard-margin 0;
	text-align: center;
	h3 {
		text-transform: uppercase;
		color: $brand-blue;

	}
	.item {
		@include mq(xs) {
			display: block;
			margin: 10px auto;
		}
		@include mq(sm) {
			display: block;
			margin: 20px auto;
		}
		@include mq(md) {
			display: inline-block;
		}
		a {
			img {
				width: auto;
				height: 100%;
			}
		}
	}
	.platinum-sponsors {
		@include mq(xs) {
			.sponsor-name {
				img {
					width: 80%;
				}
			}
		}
		@include mq(sm) {
			.item {
				margin: 10px 10px 10px 10px;
			}
			.sponsor-name {
				img {
					height: 100px;
					width: auto;
				}
			}
		}
	}

	.bronze-sponsors {
		.item {
			margin: 25px 10px 25px 10px;
		}
		/* .sponsor-name {
			img {
				height: 30px;
				width: auto;
				@include mq(xs) {
					height: 25px;
				}
			}
		} */
	}

	.reception-sponsor {
		/* .sponsor-name {
			img {
				height: 90px;
				width: auto;
				@include mq(xs) {
					height: 60px;
				}
				@include mq(sm) {
					margin-bottom: 15px;
				}
			}
		} */
	}
	.video-sponsor {
		/* .sponsor-name {
			img {
				height: 65px;
				width: auto;
				@include mq(xs) {
					height: 40px;
				}
			}
		} */
	}
	.lunch-sponsor {
		.patient-pop {
			img {
				height: 45px;
				width: auto;
				@include mq(xs) {
					height: 45px;
				}
			}
		}
	}
	.platinum-sponsors,
	.gold-sponsors,
	.silver-sponsors,
	.bronze-sponsors,
	.reception-sponsor,
	.video-sponsor,
	.lunch-sponsor {
		@include mq(xs) {
			padding-bottom: 0px;
		}
	}
}

//venue specific styles

.venue.hero {
	background-image: url('../img/Explore DDD-website-Location page-Header-image.png');
	background-size: cover;
	background-position: bottom center;
	height: 400px;
}
.venue--address--reserve-btn-row, .get-ticket-btn {
	text-align: center;
	.btn {
		display: inline-block;
	}
}
.get-ticket-btn { //same style as reserve button on venue page above.
		display: inline-block;
		margin-bottom: 0;
		padding: 15px 20px 15px 20px;
}

//blockquote styling

blockquote {
  background: #f9f9f9;
  border-left: 10px solid $brand-blue;
  padding: 15px;
	quotes: "\201C""\201D""\2018""\2019";
	text-align: left;
}
blockquote:before {
  color: $brand-blue;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p:first-child:after {
		color: $brand-blue;
		content: close-quote;
		display: block;
		font-size: 4em;
		line-height: 0.1em;
		margin-top: 0.6em;
}
blockquote p:first-child {
	margin-bottom: 0;
}
blockquote p {
  display: inline;
}
blockquote .quote-source {
	font-size: .75em;
}
//make talk session titles same colour as h2 workshop titles that are also links
.gold {
	color: $brand-body-link !important;
}

.styleguide--label {
	border-bottom: 1px solid #cdcdcd;
}