//variables

$brand-blue: #0082c8;
$brand-white: #fff;
$brand-body: #000;

$brand-body-link: #f0b310;
$brand-body-link-hover: #ffc423;

$brand-reverse-link: #ffc423;
$brand-reverse-link-hover: #f0b310;

$brand-button-link: #fff;
$brand-button-link-hover: #ffc423;
//sort out these different button color names/conventions
$brand-nav-button-text: #0082c8;
$brand-nav-button-text-hover: #2e9bd3;
$brand-nav-button-background: #ace0f0;
$brand-nav-button-background-hover: #9bd7ec;

$brand-subheader: #ffc423;

$brand-nav-hover: #ffc423;
$brand-background: #e5f2f9;

@mixin mq($size) {
  @if $size == xs {
    @media (max-width: 767px) { @content; }
  }
  @if $size == sm {
    @media (min-width: 768px) { @content; }
  }
  @else if $size == md {
    @media (min-width: 992px) { @content; }
  }
  @else if $size == lg {
    @media (min-width: 1200px)  { @content; }
  }
}

@font-face {
	font-family: 'NunitoSansSemiBold';
	src: url('fonts/NunitoSans-SemiBold.eot');
	src: url('fonts/NunitoSans-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('fonts/NunitoSans-SemiBold.woff2') format('woff2'),
		url('fonts/NunitoSans-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'NunitoSansLight';
	src: url('fonts/NunitoSans-Light.eot');
	src: url('fonts/NunitoSans-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/NunitoSans-Light.woff2') format('woff2'),
		url('fonts/NunitoSans-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'NunitoSansExtraBold';
	src: url('fonts/NunitoSans-ExtraBold.eot');
	src: url('fonts/NunitoSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('fonts/NunitoSans-ExtraBold.woff2') format('woff2'),
		url('fonts/NunitoSans-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'NunitoSans';
	src: url('fonts/NunitoSans-Regular.eot');
	src: url('fonts/NunitoSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/NunitoSans-Regular.woff2') format('woff2'),
		url('fonts/NunitoSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'NunitoSansBold';
	src: url('fonts/NunitoSans-Bold.eot');
	src: url('fonts/NunitoSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/NunitoSans-Bold.woff2') format('woff2'),
		url('fonts/NunitoSans-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@mixin ir() {
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 100%;
	text-indent: -9999px;
}

// General

html, body {
	width: 100%;
  font-family: NunitoSansLight, sans-serif;
}

body {
	background-color: $brand-background;
	font-family: NunitoSansSemiBold, sans-serif;
	color: $brand-body; 
	overflow-x: hidden;
	padding-top: 51px;
	padding-bottom: 0;
	@include mq(sm){
		padding-top: 60px;
	}
	@include mq(md){
		padding-top: 75px;
	}
	@include mq(lg){
		padding-top: 100px;
	}
	a {
		color: $brand-body-link;
		text-decoration: none;
		&:hover {
			color: $brand-body-link-hover;
			text-decoration: none;
		}
	}
}

// Navigation

nav {
	border: 0;
}
s
.navbar {
	@include mq(lg) {
		.container {
			width: 955px;
		}
	}
}
.navbar-toggle {
	cursor: pointer;
	float: left;
}

.icon-bar {
	background-color: #fff8e9;
}

.nav-logo {
	background-image: url('../img/ddd-logo.svg');
	//display: inline-block;
	margin: 3px auto;
	height: 46px;
	width: 160px;
	@include ir();
	@include mq(sm) {
		height: 37px;
		margin: 8px 0 0 0;
		width: 144px;
	}
	@include mq(md) {
		height: 46px;
		margin: 13px 0 0 0;
		width: 180px;
	}
	@include mq(lg) {
		height: 62px;
		margin: 19px 0 0 0;
		width: 230px;
	}
}

.nav-list {
	display: block;
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	@include mq(sm) {
		display: inline-block;
		//padding: 0 0 0 25px;
	}
	@include mq(md) { 
		padding-left: 78px;
	}
	@include mq(lg) { 
		padding-left: 25px;
	}
}

.nav-list-item {
	line-height: 30px;
	position: relative;
	text-align: left;
	transition: color 0.2s;
	@include mq(sm) {
		display: inline-block;
		font-size: 14px;
		line-height: 60px;
		text-align: center;
	}
	@include mq(md) {
		font-size: 18px;
		line-height: 75px;
	}
	@include mq(lg) {
		line-height: 100px;
	}

	a {
		color: $brand-white;
		cursor: pointer;
		text-decoration: none;

		&:hover {
			color: $brand-nav-hover;
		}
	}
}

.nav-list-item:not(:first-child) {
  .nav-submenu {
    //margin-left: -30px;
  }
	@include mq(sm){
		padding-left: 12px;
	}
}


.nav-btn {
	background: $brand-nav-button-background;
	color: $brand-nav-button-text;
	display: block;
	line-height: 30px;
	//margin: -1px -15px;
	padding: 0 10px;
	text-align: center;
	text-transform: uppercase;
	transition: background 0.2s;
	@include mq(sm) {
		display: inline-block;
		font-size: 14px;
		line-height: 60px;
		margin-left: 20px;
		float: right;
	}
	@include mq(md) {
		font-size: 18px;
		line-height: 75px;
	}
	@include mq(lg) {
		font-size: 18px;
		line-height: 100px;
	}

	&:hover {
		background: $brand-nav-button-background-hover;
		color: $brand-nav-button-text-hover;
		text-decoration: none;
	}
}

.navbar {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#452e26+0,452e26+50,573c27+100 */
	background: #0082c8; /* Old browsers */
	//background: -moz-linear-gradient(top,  #452e26 0%, #452e26 50%, #573c27 100%); /* FF3.6-15 */
	//background: -webkit-linear-gradient(top,  #452e26 0%,#452e26 50%,#573c27 100%); /* Chrome10-25,Safari5.1-6 */
	//background: linear-gradient(to bottom,  #452e26 0%,#452e26 50%,#573c27 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#452e26, endColorstr='#573c27',GradientType=0 ); /* IE6-9 */

	font-family: NunitoSansSemiBold, sans-serif;
	@include mq(sm){
		max-height: 60px;
	}
	@include mq(md){
		max-height: 75px;
	}
	@include mq(lg){
		max-height: 100px;
	}
}
.navbar .container {

}
.nav-container {
	
	
}
.navbar-collapse {
	text-align: center;
	@include mq(sm) {
		background: transparent;
		text-align: center;
	}
}

/* begin submenu stuff */

.nav-submenu {
	background-color: #fff8e9;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.29);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.29);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.29);
	color: $brand-body;
	display: block;
	list-style-type: none;
	margin: 0 -15px;
	max-height: 0;
	overflow: hidden;
	padding: 0 0 0 10px;
	text-align: left;
	transition: all 0.2s;
	@include mq(sm) {
		left: -5px;
		position: absolute;
		top: 50px;
		white-space: nowrap;
	}
  @include mq(md) {
		position: absolute;
		top: 60px;
		white-space: nowrap;
	}
  @include mq(lg) {
		position: absolute;
		top: 75px;
		white-space: nowrap;
	}
	a {
		color: $brand-body;
	}
}
.nav-list {
	@include mq(md) {
		margin-left: -78px;
	}
	
}
.nav-list-item:not(:first-child) {
  .nav-submenu {
    @include mq(sm) {
      left: 10px;
    }
  }
}

.nav-list-item.open {
	.nav-submenu {
		max-height: 300px;
		padding: 10px 20px 10px 20px;
	}
	.submenu-toggle {
		opacity: 1;
		transform: rotate(90deg);
	}
}

.submenu-item {
	@include mq(sm) {
		line-height: 30px;
	}
}

.section {
	.row {
		margin: 0 auto;
		max-width: 960px;
	}

	&.speakers {
		text-align: center;
	}
}

// Sliders

.slider {
	margin-bottom: 0;
	height: 500px;
	position: relative;
	@include mq(sm){
		height: 400px;
	}
}

.slide {
	background-position: bottom center;
	background-size: cover;
	height: 500px;
	@include mq(sm){
		height: 400px;
	}
	@include mq(lg) {
		.container {
			width: 955px;
		}
	}
	a {
		color: $brand-reverse-link;
		font-family: NunitoSansBold, sans-serif;
		font-size: 20px;
		position: relative;
		text-transform: uppercase;
		transition: all 0.2s;
		&:hover {
			color: $brand-reverse-link-hover;
			text-decoration: none;
		}
	}
}

.slide.register {
	background-image: url('../img/sliders/slider-register-700x600.jpg');
	@include mq(sm){
		background-image: url('../img/sliders/slider-register-1600x400.jpg');
	}
}

.slide.hyatt {
	background-image: url('../img/sliders/slider-Hyatt-700x600.jpg');
	@include mq(sm){
		background-image: url('../img/sliders/Explore-DDD-website-Slider-Hyatt.jpg');
	}
}

.hyatt-copy, .register-copy, .alteryx-copy {
	display: inline-block;
	margin-top: 85px;
	padding: 30px;
  @include mq(sm) {
    margin-left: 60px;
  }
  @include mq(md) {
    margin-left: 100px;
	}
	h1 {
		color: $brand-white;
		font-family: NunitoSansExtraBold, sans-serif;
		font-size: 30px;
		margin: 0;
		text-transform: uppercase;
		@include mq(sm){
			font-size: 40px;
		}
	}
	p {
		font-family: NunitoSansLight, sans-serif;
		font-size: 20px;
		line-height: 1em;
		margin: 0;
		max-width: 320px;
		@include mq(sm){
			font-size: 30px;
		}
	}
}

.hyatt-copy, .register-copy, .alteryx-copy {
	background-color: rgba(0,164,228, 0.75);
}
.alteryx-copy {
	@include mq(sm) {
		width: 500px;
	}
	h1 {
		//color: #000;
		a {
			font-size: 40px;
			color: #0082CD;
			.slider-alteryx-link-logo {
				height: 60px;
				margin-top: 25px;
				width: auto;
				@include mq(xs){
					height: 40px;
				}
			}
		}
	}
}

.register-copy {
	float: left;
}

.slide.speaker {
	background-color: $brand-white;
	background-position: right 80%;
	background-repeat: no-repeat;
	background-size: contain;
  @include mq(sm) {
		background-position: 53%;
		background-size: cover;
	}

	.container {
		bottom: 0; //start fixing here
		display: block;
		padding-bottom: 20px;
		position: absolute;
    @include mq(xs) {
      top: 0;
    }
		@include mq(sm) {
			display: inline-block;
			float: right;
			padding-bottom: 0px;
			padding-top: 100px;
			position: static;
			width: 50%;
      margin-right: 40px;
		}
    @include mq(md) {
      width: 48%;
      margin-right: 45px;
    }
	}

	h1 {
		color: #fdc33c;
		font-family: NunitoSansBold, sans-serif;
		font-size: 30px;
		text-transform: uppercase;
		@include mq(sm){
			font-size: 30px;
		}
    @include mq(md){
			font-size: 40px;
		}
	}

	h2 {
		color: $brand-body;
		font-family: NunitoSansLight, sans-serif;
		font-size: 20px;
		max-width: 410px;
		@include mq(sm){
			font-size: 25px;
		}
    @include mq(md){
			font-size: 30px;
		}
		span {
			font-family: NunitoSansBold, sans-serif;
			text-transform: uppercase;
		}
	}

	&.eric-evans {
		background-image: url('../img/sliders/slider-Eric-Evans-700x600.jpg');
		@include mq(sm) {
			background-image: url('../img/sliders/slider-eric-evans.jpg');
		}
	}
	&.michael-feathers {
		background-image: url('../img/sliders/slider-Michael-Feathers-700x600.jpg');
		@include mq(sm) {
			background-image: url('../img/sliders/slider-Michael-Feathers.jpg');
		}
	}
	&.alteryx-slide-version-2 {
	background-image: url('../img/sliders/slider-alteryx-700x600.jpg');
		@include mq(sm) {
			background-image: url('../img/sliders/slider-alteryx-1600x400.jpg');
		}
	}
}

.slide.denver {
	background-image: url('../img/sliders/slider-Denver700x600.jpg');
	@include mq(sm){
		background-image: url('../img/sliders/slider-denver.jpg');
	}

	.mobile-copy {
		color: #ffebc1;
		display: none;
		text-align: center;
		text-transform: uppercase;
		@include mq(sm){
		}
	}
}

.custom-navigation-container {
	display: none;
	@include mq(sm){
		bottom: 0;
		display: block;
		line-height: 400px;
		position: absolute;
		width: 100%;
	}
}

.custom-navigation {
	display: block;
	height: 400px;
	margin: 0 auto;
	max-width: 1300px;
	@include mq(sm){

	}

	.arrow {
		display: inline-block;
		opacity: 0.4;
		position: relative;
		transition: all 0.2s;
		vertical-align: middle;
		z-index: 10;
		img {
			height: 75px;
			width: 75px;
			@include mq(md){
				height: 150px;
				width: 150px;
			}
		}
		&.left {
			float: left;
		}
		&.right {
			float: right;
		}
		&:hover {
			opacity: 1;
		}
	}
}

.section.about {
	padding-top: 18px;
}

.section-header {
	color: $brand-blue;
	font-family: NunitoSansBold, sans-serif;
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
  margin: 20px 0 20px 0;
}

.section-subheader {
	color: $brand-subheader;
	font-family: NunitoSansBold, sans-serif;
	font-size: 18px;
	//margin: 0;
	text-align: center;
	text-transform: uppercase;
	transition: color 0.2s;
	&:hover {
		color: $brand-reverse-link;
	}
}

.copy {
	color: $brand-body;
	display: block;
	font-family: NunitoSansLight, sans-serif;
	font-size: 18px;
	line-height: 1.22em;
	margin: 0 auto 23px;
	max-width: 700px;
	text-align: center;

	a {
		//color: #fdc33c;
		//text-decoration: none;
		font-family: 'NunitoSansSemiBold' !important;
	}
}
figcaption a {
	font-family: 'NunitoSansSemiBold' !important;
}
.copy-list {
	color: $brand-body;
	display: block;
	font-family: NunitoSansLight, sans-serif;
	font-size: 18px;
	line-height: 1.22em;
	margin: 0 auto 23px;
  padding-left: 25px;
	max-width: 700px;
	text-align: left;

	li {
		margin-bottom: 10px;
	}
}

.copy:last-child {
	margin-bottom: 0;
}
/* sponsor page content formatting */
figure {
	text-align: center;
	margin-bottom: 30px;
 figcaption {
	font-family: NunitoSansLight, sans-serif;
	font-size: 18px;
	line-height: 1.22em;
	margin: 0 auto 0px;
	text-align: left;
 }
}

.section.conf-dates {
	background-color: $brand-blue;
	font-family: NunitoSans, sans-serif;
	padding-top: 22px;
	text-align: center;
}

.conf-header {
	color: $brand-subheader;
	display: block;
	padding-right: 15px;
	text-transform: uppercase;
	@include mq(sm){
		display: inline;
	}
}
.conf-copy {
	color: $brand-white;
	font-size: 24px;
	margin-bottom: 2px;
}

.conf-contact {
	@extend .conf-copy;
	font-size: 18px;
	padding: 13px 0 15px;

	a {
		color: $brand-reverse-link;
		padding-right: 10px;
		&:hover {
			color: $brand-reverse-link-hover;
			text-decoration: none;
		}
	}
}

// Speaker section

.section.speakers {
	padding-top: 10px;
	.row {
		&:first-child {
      margin-top: 32px;
    }
    &:last-child {
      margin-bottom: 15px;
    }
    @include mq(xs) {

    }
		@include mq(sm) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			text-align: center;
		}
		@include mq(md) {
			flex-wrap: nowrap;
		}
	}
}

.speaker-container {
	display: block;
	@include mq(sm) {
		display: inline-block;
		max-width: 150px;
	}
}

.speaker-name {
	color: $brand-blue;
	font-family: NunitoSansBold, sans-serif;
	font-size: 20px;
	margin-bottom: 0;
	text-transform: uppercase;
	transition: color 0.2s;
	&:hover {
		color: $brand-body-link-hover;
    text-decoration: none;
	}
}

.speaker-img {
  background-size:312px;
  background-position: -156px;
	height: 150px;
	margin: 0 auto;
	width: 150px;
	border-radius: 120px;
  @include mq(xs) {
    margin-top: 15px;
  }

	&.eric-evans {
		background-image: url('../img/speakers/sprite-eric-evans.jpg');
		&:hover {
			background-position: 0;
		}
	}
	&.paul-rayner {
		background-image: url('../img/speakers/sprite-paul-rayner.jpg');

		&:hover {
			background-position: 0;
		}
	}
	&.alberto-brandolini {
		background-image: url('../img/speakers/sprite-alberto-brandolini.jpg');

		&:hover {
			background-position: 0;
		}
	}
	&.michael-feathers {
		background-image: url('../img/speakers/sprite-michael-feathers.jpg');

		&:hover {
			background-position: 0;
		}
	}
	
}

//workshop images 

.speaker--workshop-content-img {
	width: 100%;
	height: auto;
}

.speaker-details {
	color: $brand-body;
	font-family: NunitoSansLight, sans-serif;
	font-size: 16px;
}

.container.page {
	margin: 0 auto;
	max-width: 600px;
	padding-bottom: 3em;

	.copy {
		text-align: left;
	}
	.copy-top-padding {
		margin-top: 25px !important;
	}
}

.section.venue {
  padding-left: 0;
  padding-right: 0;

  @include mq(sm) {
    .venue--page-header {
      //make the header image a bg of a div and make it center on smaller widths later?
    }
  }

	.section-header {
		margin-bottom: 18px;
	}
}

h2.conference-emphasis {
  text-transform: uppercase;
  font-style: italic;
  text-align: left;
  font-size: 20px;
  font-family: NunitoSansBold,sans-serif;
}

// Location section

.location-col {
	padding-bottom: 20px;
}
.location-img {
	display: block;
	margin: 0 auto 15px;
	max-width: 100%;
}

.read-more {
	background-image: url('../img/read-more-arrow.png');
	background-position: center 2px !important;
	background-repeat: no-repeat;
	background-size: 100%;
	display: inline-block;
	margin-bottom: -2px;
	margin-left: 8px;
	opacity: 0.6;
	transition: all 0.2s;
	width: 18px;
	@include ir();
	&:hover {
		opacity: 1;
	}
}

footer {
	background-color: $brand-blue;
	color: $brand-white;
	font-family: NunitoSans, sans-serif;
	padding-top: 15px;
	padding-bottom: 30px;
	text-align: center;
	.container {
		//background-image: url('../img/footer-maze.png');
		background-repeat: no-repeat;
		background-position: bottom center;
		background-size: contain;
	}

	.section-header {
		color: $brand-white;
		padding-bottom: 15px;
		font-size: 18px;
	}

	.copyright {
		a {
			color: $brand-reverse-link;
			&:hover {
				color: $brand-reverse-link-hover;
			}
		}
	}
}

.sponsor-container {
	display: -webkit-flex; /* Safari */
	-webkit-justify-content: space-around; // Safari 6.1+
	display: flex;
	justify-content: space-around; //for chrome, firefox, etc
	align-items: center;
	.item, .organized-by-item {		
		width: 300px;
		img {
			width: 95%;
			height: auto;
			margin-bottom: 15px;
		}
	}
	//bronze sponsor logos appear smaller
	.bronze-logo {
		max-width: 160px;
	}
	.organized-by-item {
		width: 300px;
	}
}
.benefactor-logo {
	width: 50%;
	height: auto;
	display: block;
	margin: 0 auto 15px auto;
}

.page-subheader {
	color: $brand-body;
	font-family: NunitoSansBold, sans-serif;
	font-size: 18px;
	margin: 0 0 4px 0;
}

.featured-speaker.container {
	text-align: center;

	.img-container {
		display: block;
		vertical-align: top;
		@include mq(sm) {
			display: inline-block;
		}

		img {
			vertical-align: top;
		}
	}
	.copy-container {
		display: block;
		max-width: 640px;
		@include mq(sm) {
			display: inline-block;
      padding-left: 75px;
		}
    @include mq(md) {
      padding-left: 45px;
    }
	}
	.copy {
		text-align: left;
	}
	.speaker-subheader {
		color: $brand-body;
		text-align: left;
		text-transform: uppercase;
	}
	.speaker-keynote {
		text-align: left;
		text-transform: uppercase;
		font-size: 25px;
	}
}

.video-responsive {
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:0;
}

.video-responsive iframe {
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}

.about {
	.section-header {
		margin-bottom: 40px;
	}
}

.featured-speaker {
	.copy-container {
      padding-top: 25px;
      @include mq(sm){
    		display: inline;
        padding-top: 95px;
    	}
      @include mq(md){

      }
	}
	.img-container {
		padding-left: 17px;
	    padding-top: 41px;
	}
	.copy {
		max-width: none;
	}
}

.speaker-page-img {
	height: 150px;
	width: 150px;
}

.speaker-header {
	color: $brand-blue;
	font-family: NunitoSansBold, sans-serif;
	font-size: 24px;
	margin: 0 0 2px 0;
	text-align: left;
	text-transform: uppercase;
}
.speaker-subtitle {
	//color: $brand-subheader;
	font-family: NunitoSansLight, sans-serif;
	font-size: 18px;
	margin: 0 0 2px 0;
	text-align: left;
}
.speaker-handle {
	//color: $brand-body-link;
	font-family: NunitoSans, sans-serif;
	font-size: 18px;
	margin: 0;
	text-align: left;
}
.speaker-subheader {
	font-family: NunitoSansBold, sans-serif;
	font-size: 18px;
	margin: 25px 0 25px 0;
}


// Location page
.location.hero {
	background-image: url('../img/hyatt-panorama.jpg');
	background-size: cover;
	background-position: bottom center;
	height: 400px;
}

//Sponsors
.container.sponsors {
	padding-top: 50px;	
}

.container.short {
	padding-top: 25px;
	padding-bottom: 150px;
}

//People
.container.people {
	padding-top: 50px;
	padding-bottom: 150px;
}

//Venue
.container.venue {
	padding-top: 50px;
	padding-bottom: 150px;
}

//Workshops
.workshops {
  p {
    text-align: left;
  }
}
.workshop-list {
  @include mq(sm) {
    padding-top: 30px;
    padding-left: 65px;
  }
  @include mq(md) {
    padding-left: 35px;
  }
  padding-bottom: 3em;
  max-width: 640px;
  h2 {
    text-transform: uppercase;
    font-family: NunitoSansSemiBold, sans-serif;
    font-size: 24px;
    a {
      color: #f0b310;
      transition: color 0.2s ease 0s;
      &:hover {
        text-decoration: none;
        color: #fdc33c;
      }
    }
	}
	.workshops--duration {
		display: block;
		color: $brand-blue;
		font-weight: 500;
		text-transform: uppercase;
		margin-bottom: 7px;
	}
  .workshops--speaker-name {
    display: block;
    color: $brand-body;
    font-weight: bold;
    text-transform: uppercase;
    font-size: auto;
  }
  .workshops--speaker-title {
    font-style: italic;
  }
}

//Schedule page
.schedule {
  width: 100%;
}
.final-row {
  margin-bottom: 30px;
}
.title-row {
  .title-cell-uncolored-cells {
    border-bottom: 1px solid $brand-body;
    @include mq(sm) {
      padding-left: 0px;
    }
    @include mq(md) {
      padding-left: 0px;
    }
  }
  .title-cell-colored-cells {
    @include mq(sm) {
      padding-left: 20px;
    }
    @include mq(md) {
      padding-left: 5px;
    }
  }
  h2 {
    font-size: 28px;
    font-family: NunitoSansBold, sans-serif;
    text-transform: uppercase;
    margin-bottom: 0;
    @include mq(xs) {
      text-align: center;
      margin-bottom: 20px;
    }
  }
  h3 {
    margin-top: 0;
    @include mq(xs) {
      text-align: center;
    }
  }
}
.time-row {

}
.time-cell {
  padding-top: 10px;
  border-bottom: 1px solid $brand-body;
  font-size: 16px;
  font-family: NunitoSans, sans-serif;
  @include mq(xs) {
    text-align: center;
  }
}
@include mq(sm) {
  .time-cell-empty {
    border-bottom: 1px solid $brand-body;
  }
}

.details {
  padding: 10px 5px 10px 5px;
  border-bottom: 1px solid $brand-body;
  p {
    font-size: 18px;
    em {
      font-size: 16px;
    }
  }
  a {
    color: #c49524;
    text-transform: uppercase;
    &:hover {
      color: #fdc33c;
      text-decoration: none;
    }
  }
  @include mq(xs) {
    text-align: center;
  }
}
//remove bottom row from time rows that have colored "talk detail" rows directly below them
.time-cell-followed-by-colored-row, .followed-by-colored-row {
  border: 0 !important;
}
.details-colored {
  color: #fff9ec;
  padding: 5px 13px 5px 13px;
  border-top: 0 !important; //we need to override the top border here since colored divs have a different border requirement
  h4 {
    font-family: NunitoSansBold, sans-serif;
    text-transform: uppercase;
  }
  h5 {
    font-size: 18px;
    font-family: NunitoSansSemiBold, sans-serif;
  }
  a {
    color: #fff9ec;
  }
}
.custom-grid-column-widths .time-cell {
  border-top: 1px solid $brand-body;
  border-bottom: 0;
  @include mq(xs) {
    border-top: 0;
  }
}
//since we can't target using :nth-last-match(selector) until css4 is accepted and implemented. must use a class injection in the html here
.last-colored-row .time-cell {
  @include mq(xs) {
    border-bottom: 0;
  }
  @include mq(sm) {
    border-bottom: 1px solid $brand-body;
  }
}

.details-gold {
  background-color: #e6a62d;
  border-bottom: 1px solid #fff9ec;
}
.details-green {
  background-color: #008653;
  border-bottom: 1px solid #fff9ec;
}
.details-purple {
  background-color: #49338f;
  border-bottom: 1px solid #fff9ec;
}
.details-blue {
  background-color: #008da7;
  border-bottom: 1px solid #fff9ec;
}
.talk-title {
  font-size: 18px;
  text-transform: capitalize;
  em {
    font-size: 16px;
  }
}
@include mq(xs) {
  .title-row + .time-row div {
    border-top: 1px solid $brand-body;
  }
}
@include mq(xs) {
  .title-row + .time-row div {
    border-top: 0;
  }
}
@include mq(sm) {
  .custom-grid-column-widths {
    .time-cell {
      width: 10%;
    }
    .details {
      width: 22.4%;
    }
  }
}
@include mq(md) {
  .custom-grid-column-widths {
    .time-cell {
      width: 7.6%;
    }
    .details {
      width: 21%;
    }
  }
}
//full height columns
//only apply to non mobile viewports since this flex fix will break responsiveness below 768
@include mq(sm) {
  .time-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
  }
  .time-row > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }
  //this repeats but I'll clean this up later
  .title-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
  }
  .title-row > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }
}

// CFP
.cfp-cta {
  font-family: NunitoSansExtraBold, sans-serif;
  font-size: 18px;
  margin: 0 0 4px 0;
  	a {
  		color: #fdc33c;
  	}
}

//button styles
.btn {
  background: $brand-body;
  font-family: NunitoSansLight, sans-serif !important;
  border-radius: 0;
  color: #ffebc1;
  font-size: 20px;
  padding: 20px 30px 20px 30px;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  margin-bottom: 25px;
}

.btn:hover {
  text-decoration: none;
  color: #fdc33c;
}
.buttons {
  text-align: center;
  .schedule-btn {
    margin-left: 10px;
    margin-right: 10px;
    padding: 8px 10px 8px 10px;
    min-width: 180px;
    span {
      display: block;
    }
    .btn-title {
      color: #fdc33c;
      font-family: NunitoSansBold, sans-serif;
      font-size: 18px;
    }
    .btn-date {
      font-size: 16px;
      font-family: NunitoSansSemiBold, sans-serif;
      text-transform: none;
      color: #ffebc1;
    }
  }
}

/* mailchimp embedded signup form styling */
.footer--newsletter-signup {
  text-align: center;
  margin: 0 auto;
  max-width: 960px;
  margin-bottom: 40px;
  h2 {
    font-size: 24px;
    font-family: NunitoSansBold, sans-serif;
    color: $brand-body;
    margin-top: 0;
    margin-bottom: 30px;
	}

  //these two classes apparently do something in the mailchimp code snippet, but lets make them work with our layout
  .mc-field-group, .clear {
    @include mq(xs) {
      display: block;
    }
    @include mq(sm) {
      display: inline-block;
    }
  }
  input[type=email] {
	 background-color: $brand-background;
   border: 1px solid $brand-body;
   font-size: 18px;
   padding: 15px;
   margin-right: 10px;
   @include mq(xs) {
     width: 80%;
     margin-bottom: 30px;
   }
   @include mq(sm) {
     width: 350px;
   }
   @include mq(md) {
     width: 470px;
   }
  }
  input[type=submit], .venue--reserve-room-btn {
    color: $brand-white;
    font-family: NunitoSansSemiBold, sans-serif;
    background-color: $brand-blue;
    border: 0;
    font-size: 18px;
    padding: 15px;
    &:hover {
      color: $brand-button-link-hover;
    }
	}
	/* get these to work for venue "book now button" */
	.venue--reserve-room-btn {
		color: $brand-white;
    font-family: NunitoSansSemiBold, sans-serif;
    background-color: $brand-blue;
    border: 0;
    font-size: 18px;
		padding: 15px;
		border: 1px solid red;
    &:hover {
      color: $brand-button-link-hover;
    }
	}
  #mce-error-response, #mce-success-response {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.section.home-videos {
	margin-top: 18px;
}
.home-videos {
	.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
		height:0;
		margin-bottom: 35px !important;
	}
	.video-responsive iframe{
		left:0;
		top:0;
		height:100%;
		width:100%;
		position:absolute;
	}
}

strong {
	font-family: NunitoSansBold, sans-serif;
}

.homepage-video {
	max-width: 750px;
	margin: 50px auto 0 auto;
}

/* sponsor subfooter section on homepage and second level pages */
.sponsor-section {
	background-color: #fff;
	padding: 30px 0 30px 0;
	text-align: center;
	.section-header {
		font-size: 18px;
	}
	.item {
		@include mq(xs) {
			display: block;
			margin: 10px auto;
		}
		@include mq(sm) {
			display: block;
			margin: 10px auto;
		}
		@include mq(md) {
			display: inline-block;
		}
		a {
			img {
				width: auto;
				height: 100%;
			}
		}
	}
	.platinum-sponsors {
		.item {
			width: 265px;
			height: 140px;
			@include mq(md) {
				margin: 0 28px 0 28px;
			}
		}
	}
	.gold-sponsors {
		.item {
			width: 212px;
			height: 112px;
			@include mq(md) {
				margin: 0 20px 0 20px;
			}
		}
	}
	.silver-sponsors {
		.item {
			width: 170px;
			height: 90px;
			@include mq(md) {
				margin: 0 15px 0 15px;
			}
		}
	}
	.bronze-sponsors {
		.item {
			width: 136px;
			height: 72px;
			@include mq(md) {
				margin: 0 10px 0 10px;
			}
		}
	}
	.platinum-sponsors, .gold-sponsors, .silver-sponsors, .bronze-sponsors {
		@include mq(xs) {
			padding-bottom: 30px;
		}
		@include mq(sm) {
			padding-bottom: 50px;
		}
		@include mq(md) {
			padding-bottom: 0;
		}
	}
}

.venue--address--reserve-btn-row {
	padding-bottom: 25px;
}
